*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(180deg,#19e56b,#203a43,#2c5364);
    color:rgb(231, 232, 242);
}

.hero{
    text-align:center;
    padding-top:70px;
}

.logo{
    width:90px;
    margin-bottom:15px;
}

.hero h1{
    font-size:32px;
}

.hero p{
    margin-top:5px;
    opacity:.85;
}

.card-container{
    margin-top:60px;
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    background:#1f3b4d;
    width:320px;
    padding:30px;
    border-radius:18px;
    text-align:left;
    box-shadow:0 12px 25px rgba(0,0,0,.4);
}

.card h3{
    font-size:20px;
}

.card span{
    display:block;
    margin:12px 0 25px;
    opacity:.85;
}

.card a{
    background:#00ff26;
    padding:10px 26px;
    color:black;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

/* ===== FORM & TABLE ===== */

.container{
    width:90%;
    max-width:900px;
    margin:40px auto;
}

form{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    margin-bottom:25px;
}

form input, form select{
    padding:10px;
    border-radius:6px;
    border:none;
    width:200px;
}

form button{
    background:#00cfff;
    border:none;
    padding:10px 20px;
    font-weight:bold;
    border-radius:6px;
    cursor:pointer;
}

table{
    width:100%;
    border-collapse:collapse;
    background:#1f3b4d;
    border-radius:10px;
    overflow:hidden;
}

th,td{
    padding:12px;
    border-bottom:1px solid #2c5364;
    text-align:center;
}

th{
    background:#203a43;
}

.back{
    display:inline-block;
    margin-top:25px;
    color:#00cfff;
    text-decoration:none;
}
